<!DOCTYPE html>
<html lang="en">
<head>

  {% load staticfiles %}
  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
  {% block content %}
  <div class="container-fluid">

    {% include "navbar.html" %}


    <input type="text" name="input_test">

    <div class="row" id="row1">
      <div class="col-sm-10">
        <h2> Global Sleep Statistics</h2>
        <p>THIS IS WHERE THE CHARTS WILL BE</p>
        <{% lorem 3 p %}
        <h3>Click a graph for further breakdown</h3>
        <div>
          <ol>
            {% for product in newest_20_products %}
            <li><a href="{% url 'website:product_details' product.id %}">{{ product.title }}</a></li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>



  </div>
{% endblock %}
</body>
</html>
